body{
  background-image: url("recept_bild.webp");
  
   
    

}
.fancy-title{
    font-family: cursive;
    font-weight:bolder ;
}


.difficulty-easy   { border-left: 0.8rem solid green; }
.difficulty-medium { border-left: 0.8rem solid yellow; }
.difficulty-hard   { border-left: 0.8rem solid red; }

   
    




