/* Bakgrundsbild för hela sidan */
body{
  background-image: url("recept_bild.webp");
}
/* Stil för hela rubriker*/
.fancy-title{
    font-family: cursive; /* Kursivt typsnitt */
    font-weight:bolder ; 
}


.difficulty-easy   { border-left: 0.8rem solid green; } /* Grön marker för lätt recept*/
.difficulty-medium { border-left: 0.8rem solid yellow; } /* Gul markering för medel*/
.difficulty-hard   { border-left: 0.8rem solid red; } /* Röd markering för svår*/

   
    




